%h2
  Edit #{resource_name.to_s.humanize}
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),class:"new_user", html: { method: :put }) do |f|
  -unless  f.error_notification.nil?
    %div.alert.alert-dismissable.alert-danger  
      = f.error_notification
      = render "devise/shared/error_messages", :target => @user
  .form-inputs
    = f.label :first_name
    = f.text_field :first_name ,required: true, autofocus: true ,:class => "form-control"
    =f.label :last_name
    =f.text_field :last_name ,required: true, autofocus: true ,:class => "form-control"
    = f.input :email, required: true, autofocus: true,:class => "form-control"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    = f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false,:class => "form-control"
    = f.input :password_confirmation, required: false,:class => "form-control"
    = f.input :current_password, hint: "we need your current password to confirm your changes", :class => "form-control",required: true
  .form-actions
    = f.button :submit, "Update",class: 'btn btn-lg btn-primary btn-block'
%h3 Cancel my account
%p
  Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
= link_to "Back", :back
