= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put },class:"new_user") do |f|
  %div.alert.alert-dismissable.alert-danger
    = f.error_notification
  %h2 Change your password
  = f.input :reset_password_token, as: :hidden, :class => "form-control"
  = f.full_error :reset_password_token, :class => "form-control"
  .form-inputs
    = f.input :password, label: "New password", required: true, autofocus: true, :class => "form-control"
    = f.input :password_confirmation, label: "Confirm your new password", required: true, :class => "form-control"
  .form-actions
    = f.button :submit, "Change my password",class: 'btn btn-lg btn-primary btn-block'
%div.devise_links
  = render "devise/shared/links"
