= simple_form_for(resource, as: resource_name, url: session_path(resource_name),class:"new_user") do |f|
  = content_tag(:div, flash[:error], :id => "flash_error") if flash[:error]
  = content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice]
  = content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert]
  %h2 Sign in
  .form-inputs
    = f.email_field :email,required: false, autofocus: true,:placeholder => "Email address", :class => "form-control"
    %br
    = f.password_field :password,required: false,:placeholder => "Password", :class => "form-control"
    %br
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  .form-actions
    = f.button :submit, "Sign in" ,class: 'btn btn-lg btn-primary btn-block'
%div.devise_links
  = render "devise/shared/links"
